/*

	General style for Genesis :: #00CCFF

*/

.group:after 		{ display:block; height:0; clear:both; content:"."; visibility:hidden; /* For clearing */ }
::-moz-selection 	{ background: #00CCFF; color: #000; }
::selection 			{ background: #00CCFF; color: #000; }

body {
	background: #fff url("../images/p5.png") repeat;
	margin:0;
	padding:0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #666;
}

* {
	margin: 0;
	padding: 0;
}

/** element defaults **/
hr {
	border: 0;
	height: 1px;
	color: #e5e5e5;
	background: #e5e5e5;
}

table {
	width: 100%;
	text-align: left;
}

th, td {
	padding: 10px 10px;
}

th {
	color: #333;
	background: #e5e5e5 none repeat-x scroll left top;
}

td {
	border-bottom: 1px solid #ccc;
}

code, blockquote {
	display: block;
	border-left: 5px solid #222;
	padding: 10px;
	margin-bottom: 20px;
}
code {
	background-color: #e5e5e5;
	color:#333;
	border: none;
}
blockquote {
	border-left: 5px solid #e5e5e5;
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #333;
	height: 1%;
}

a {
	color: #000;
	text-decoration: none;
}

a:active {
	color: #006699;
}

a:hover {
	color: #00CCFF;
}

fieldset {
	display: block;
	border: none;
	border-top: 1px solid #ccc;
}

fieldset legend {
	font-weight: bold;
	font-size: 13px;
	padding-right: 10px;
	color: #333;
}

fieldset form {
	padding-top: 15px;
}

fieldset p label {
	float: left;
	width: 150px;
}

span.required {
	color: #ff0000;
}

.posttitle {
	text-transform: capitalize;
	font-weight: bold;
}

ul, ol {
	margin: 0 0 35px 35px;
}

li {
	padding-bottom: 5px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}


#container {
	width: 70%;
	margin: 50px auto;
	background-color: #fff;
	border: 1px solid #d6d6d6;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
}

header {
	padding: 30px 15px;
	margin: 0 auto;
}

header h1 a {
	color: #555;
	font-size: 50px;
	font-weight: normal;
	text-decoration: none;
	letter-spacing: -3px;
	float: left;
}

header h2 {
	color: #888;
	float: left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	margin-left: 12px;
	margin-top: 24px;
	padding-left: 4px;
	letter-spacing: 0;
}

nav {
	height: 50px;
	overflow: hidden;
	background: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

nav a {
	display: inline-block;
	position: relative;
	width: 10.50%;
	height: 100%;
	text-align: center;
	line-height: 50px;
	color: #555;
	border-right: 1px solid #e5e5e5;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	text-decoration: none;
}

nav a:hover {
	color: #000;
	background: #f7f7f7;
}


.navactive {
	background: #545454;
	color: #ccc;
}

.triangle {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #ddd;
}

.grid {
	overflow: hidden;
	margin-top: 20px;
	padding-left: 20px;
}

.grid .col {
	float: left;
	padding-right: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid .col-2-3 {
	width: 66.66%;
}

.grid .col-1-3 {
	width: 33.33%;
}

.module {
	border: 1px solid #ccc;
	margin-bottom: 20px;
	padding: 20px;
	background: #fff;
	overflow: hidden;
}

.clear {
	clear: both;
}

#footer {
	margin:0 auto 0;
	border-top: 10px solid #e8e8e8;
}

#footer p {
	text-align: left;
	color: #ccc;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

#footer p a {
	color: #ccc;
	font-weight: bold;
}

#footer .footer-bottom {
	padding: 10px;
	text-align: center;
	background-color: #e5e5e5;
}

#footer .footer-bottom p {
	text-align: center;
}

#footer .footer-bottom p, #footer .footer-bottom p a {
	color: #666;
}