/*

	Typography stylesheet for Genesis

*/

p {
	line-height: 1.9em;
	margin-bottom: 20px;
	font-size: 12px;
}

h2 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 27px;
	letter-spacing: 0px;
	font-weight: normal;
	padding: 0 0 5px;
	margin: 0;
}

h3 {
	color: #888;
	font-size: 24px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

h4 {
	font-size: 15px;
	color: #888;
}

h5 {
	padding-bottom: 5px;
	font-size: 13px;
	color: #888;
}